<div class="w-full h-full">
    <form action="/auth/login" method="POST">
        <input type="text" name="email" placeholder="Enter your email" />
        <input type="password" name="password" placeholder="Reveal the secret" />
        <button type="submit">Login</button>
    </form>
</div>
