<div class="w-full p-4 flex justify-between items-center">
    <div>Structit</div>

    <ul class="flex justify-between items-center space-x-3">
        <a class="" href="/auth/signin"><li>Signin</li></a>
        <a href="/auth/login"><li>login</li></a>
        <a href="/paths"><li>Explore</li></a>
        <form method="DELETE" action="/auth/signout"><li onclick="this.submit()">Signout</li></form>
    </ul>
</div>
        
