<div class="grow">
    <div class="w-full h-full">
        <div class="h-full m-4 text-center flex flex-col justify-center items-center">
            <h2 class="text-3xl md:text-6xl text-center font-bold tracking-wider">Free Structured Learning Paths</h2>
            <p class="tracking-tighter pt-2 text-sm md:text-base">For the community, By the community, Of the community.</p>
            <a href="/paths" class="py-2 px-4 text-white rounded-md shadow-md hover:shadow-lg bg-gray-700 hover:bg-gray-900 mt-3">Explore</a>
        </div>
    </div>
</div>
